<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Premium</th>
            <th>Entered At</th>
            <th>Exited At</th>
            <th>Enter Price</th>
            <th>Exit Price</th>
            <th>Take Profit</th>
            <th>SL Target</th>
            <th>Trade Decision</th>
            <th>Lot size</th>
            <th>Capital</th>
            <th>Status</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tradeData of tradeDataArray">
            <td>{{tradeData.orderId}}</td>
            <td>{{tradeData.premiumName}}</td>
            <td>{{formatTime(tradeData.enteredAt)}}</td>
            <td>{{ tradeData.exitedAt ? formatTime(tradeData.exitedAt) : "--"}}</td>
            <td>{{tradeData.enterPrice}}</td>
            <td>{{tradeData.exitPrice ?? "--"}}</td>
            <td>{{tradeData.takeProfit}}</td>
            <td>{{tradeData.exitLimit}}</td>
            <td>{{tradeData.tradeDecision}}</td>
            <td>{{tradeData.lotSize}}</td>
            <td>Rs.{{tradeData.investedMoney}}</td>
            <td class="fw-bold"
                [ngClass]="{'profit': tradeData.status === 'PROFIT', 'loss': tradeData.status === 'LOSS'}">
                {{tradeData.status}}</td>
            <td class="fw-bold">Rs.{{tradeData.diffInvestment}}</td>
        </tr>
    </tbody>
</table>