/* You can add global styles to this file, and also import other style files */
.fw-bold {
    font-weight: bold;
}

.ml-5 {
    margin-left: 5px;
}

.m-5 {
    margin: 5px;
}

.profit {
    color: green;
}

.loss {
    color: red;
}

.live {
    color: blue;
}