<table class="table table-bordered">
    <thead>
        <tr>
            <th (click)="onSort('tradeTakenIndex')">Trade taken Index</th>
            <th (click)="onSort('profitTargetIndex')">Profit target Index</th>
            <th (click)="onSort('stopLossIndex')">Stop loss Index</th>
            <th (click)="onSort('exitedAtIndex')">Exited At Index</th>
            <th (click)="onSort('status')">Status</th>
            <th (click)="onSort('tradeDecision')">Trade Decision</th>
            <th (click)="onSort('riskRewardMove')">RR MOVE</th>
            <th (click)="onSort('profitLoss')">PROFIT LOSS</th>
            <th (click)="onSort('enteredAt')">Entered At</th>
            <th (click)="onSort('exitedAt')">Exited At</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tradeData of tradeDataArray">
            <td>{{tradeData.tradeTakenIndex}}</td>
            <td>{{tradeData.profitTargetIndex}}</td>
            <td>{{tradeData.stopLossIndex}}</td>
            <td>{{tradeData.exitedAtIndex}}</td>
            <td class="fw-bold"
                [ngClass]="{'profit': tradeData.status === 'PROFIT', 'loss': tradeData.status === 'LOSS'}">
                {{tradeData.status}}</td>
            <td>{{tradeData.tradeDecision}}</td>
            <td class="fw-bold">{{tradeData.riskRewardMove}}</td>
            <td class="fw-bold">{{tradeData.profitLoss}}</td>
            <td>{{formatTime(tradeData.enteredAt)}}</td>
            <td>{{ tradeData.exitedAt ? formatTime(tradeData.exitedAt) : "--"}}</td>
        </tr>
    </tbody>
</table>